@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Neuton:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  /* Inter font */
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  /* for debugging */
  /* border: 1px solid red; */
}

a {
  /* Hilangkan teks dekorasi (garis bawah) pada anchor element */
  text-decoration: none;
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 550px;
  width: 100%;
  /* Menggunakan Webkit */
  background: -webkit-linear-gradient(
      rgba(29, 38, 113, 0.5),
      rgba(195, 55, 100, 0.5)
    ),
    url("../img/galery/heroimage.jpg");
  /* Background image dengan overlay */
  background: linear-gradient(rgba(29, 39, 126, 0.5), rgba(195, 55, 100, 0.5)),
    url("../img/galery/heroimage.jpg");
  background-size: cover;
  position: relative;
  /* disable overflow animasi */
  overflow: hidden;
}

nav {
  /* 1rem = 16px */
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 2px;
  /* Animasi logo*/
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.logo a {
  color: #ede7f6;
}

.logo span {
  color: rgba(195, 55, 100, 1);
}

nav ul {
  display: flex;
  /* Menu menjadi di kiri */
  margin-left: auto;
}

nav ul li {
  font-weight: 500;
  font-size: 12px;
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0.2s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.4s;
}

nav ul li:nth-child(3) {
  animation-delay: 0.6s;
}

nav ul li:nth-child(4) {
  animation-delay: 0.8s;
}

nav ul li:nth-child(5) {
  animation-delay: 1s;
}

nav ul li a {
  color: #ede7f6;
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: rgba(195, 55, 100, 1);
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
  top: 35px;
  transform-origin: left;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

.hero {
  color: #ede7f6;
  padding-top: 130px;
  padding-left: 500px;
}

.hero h3 {
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
  /* Animasi */
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
  animation-delay: 1s;
}

.hero h1 {
  font-family: "Neuton", serif;
  font-size: 46px;
  letter-spacing: 4px;
  /* Animasi */
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
  animation-delay: 1.1s;
}

.hero p {
  /* Animasi */
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
  animation-delay: 1s;
  font-style: italic;
  font-weight: 500;
}

.hero button {
  background-color: #1b0141;
  /* Green */
  border-radius: 3px;
  margin-top: 30px;
  border: none;
  color: #ede7f6;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  /* Animasi */
  transform: translateY(100rem);
  animation: slideIn 0.5s forwards;
}

.fa {
  padding-right: 8px;
}

#about,
#galery {
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #ede7f6;
}

#about h2,
#galery h2 {
  display: grid;
  /* text-transform: uppercase; */
  text-align: center;
  padding-bottom: 30px;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

#about h2::after,
#galery h2::after {
  content: "";
  display: block;
  align-self: center;
  justify-self: center;
  width: 20%;
  margin-top: 15px;
  border-bottom: 2px solid rgba(195, 55, 100, 1);
  transition: ease-in-out 0.5s;
}

#about h2:hover::after,
#galery h2:hover::after {
  width: 10%;
}

#about .flex-about {
  display: flex;
  flex-wrap: wrap;
}

.flex-about p {
  margin-top: 20px;
}

#about .desc {
  float: left;
  width: 75%;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}

#about .desc-img {
  float: right;
  align-self: center;
  justify-content: end;
  margin-left: 33px;
  margin-top: -80px;
}

#about .desc-img .profil-img {
  background: linear-gradient(rgba(29, 39, 126, 0.3), rgba(195, 55, 100, 0.3)),
    url("../img/galery/chuck.jpeg");
  border-radius: 200px 150px 200px 150px;
  width: 200px;
  height: 200px;
  transition: ease 1s;
  background-size: cover;
  padding: 0 autp;
  overflow: hidden;
}

#about .desc-img .profil-img:hover {
  border-radius: 150px 200px 150px 200px;
}

.linkmore {
  padding-top: 40px;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.5s;
}

.linkmore:hover {
  transform: translateX(2px);
}

.linkmore a {
  color: rgba(195, 55, 100, 1);
}

.linkmore span {
  font-size: 20px;
}

.prlx-img {
  background: linear-gradient(rgba(29, 39, 126, 0.5), rgba(195, 55, 100, 0.5)),
    url("../img/galery/GettyImages-84999138_173266.jpg");
  /* height: 300px; */
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.prlx-text {
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  color: #ede7f6;
}

.quote {
  padding: 80px 0 20px 0;
  margin: 0 50px;
}

.quote-by {
  padding-bottom: 80px;
  font-weight: 600;
  text-align: right;
  padding-right: 50px;
}

.music-album {
  display: flex;
  background-color: #ece0ff;
  padding: 40px 0;
}

.card {
  border-radius: 2px;
  background-color: #fff;
  height: 500px;
}

.gradient1 {
  background: linear-gradient(rgba(195, 55, 100, 0.5), rgba(29, 39, 126, 0.5));
}

#music,
#album {
  color: #fff;
  width: 49.5%;
  margin: 10px 0;
}

#music {
  float: left;
}

#album {
  float: right;
}

.music-box,
.album-box {
  padding: 0 auto;
}

.music-box h2,
.album-box h2 {
  color: #ece0ff;
  font-size: 30px;
  text-align: center;
  padding: 25px 0;
}

.music-spt,
.album-img {
  text-align: center;
  padding: 0 auto;
}

.album-img img {
  border-radius: 5px;
}

.music-spt iframe {
  margin: 2px;
  width: 400px;
  height: 80px;
  opacity: 0.5;
  transition: ease-in-out 0.5s;
}

.music-spt iframe:hover {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.listen-more {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin-top: 30px;
}

.listen-button {
  text-align: center;
  margin-top: 10px;
}

.listen-button button {
  background-color: rgba(29, 39, 126, 0.5);
  border-radius: 3px;
  border: none;
  color: #ece0ff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transform: translateY(-1px);
  transition: ease-in-out 0.5s;
}

.listen-button button:hover {
  transform: translateY(+1px);
}

.listen-button a {
  margin: 0 5px;
}

.album-img img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.more-disc {
  text-align: center;
  padding-top: 12px;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.5s;
}

.more-disc a {
  color: rgba(29, 39, 126, 0.8);
}

.more-disc:hover {
  transform: translateX(2px);
}

.more-disc span {
  font-size: 20px;
}

#galery {
  background-color: #b39ddb;
}

.galery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galery-flex .item {
  height: 250px;
  width: 250px;
  position: relative;
  margin: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
}

.galery-flex .item:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.galery-flex img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.galery-flex img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.gradient2 {
  background: linear-gradient(rgba(29, 39, 126, 0.5), rgba(195, 55, 100, 0.5));
}

.gradient2:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  transition: 0.4s;
}

.contact-about {
  display: flex;
  background-color: #ede7f6;
  padding: 40px 0;
}

#contact {
  float: left;
  width: 67%;
  margin: 10px 0;
  opacity: 0.9;
  /* transition: ease-in-out .5s;
    transform: translateY(+3px); */
  height: 480px;
  color: #ede7f6;
}

#contact h2 {
  text-align: center;
  margin-top: 50px;
}

#contact p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.form-group {
  margin: 20px auto;
  width: 90%;
}

.contact-form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 2px 0 0 0;
}

.contact-form li label {
  display: block;
  margin-bottom: 2px;
}

.contact-form ::placeholder {
  padding-left: 10px;
}

.input-form input,
.input-form textarea {
  width: 100%;
  border-style: none;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  padding: 10px 0;
}

.contact-form .submit {
  background-color: rgba(29, 39, 126, 0.5);
  border-radius: 3px;
  border: none;
  color: #ece0ff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transform: translateY(-1px);
  transition: ease-in-out 0.5s;
  text-align: center;
  align-content: center;
}

.contact-form .submit:hover {
  transform: translateY(+1px);
}

#profile {
  float: right;
  width: 32%;
  opacity: 0.9;
  margin: 10px 0;
  /* transition: ease-in-out .5s;
    transform: translateY(+3px); */
  height: 480px;
}

/* #profile:hover, #contact:hover{
    opacity: 1;
    transform: translateY(-3px);
} */

.content-profile {
  text-align: center;
  margin: 50px 0;
}

.content-profile img {
  border-radius: 50%;
  width: 120px;
  margin: 40px auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.content-profile p.name {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 16px;
}

.content-profile,
.content-profile p.address,
p.email,
p.phone,
.social li a {
  padding: 1px 0;
  color: #ece0ff;
}

.content-profile p {
  font-size: 12px;
}

/* Menghilangkan warna biru pada link */
.content-profile p.email a,
p.phone a {
  color: inherit;
}

.social li a {
  font-size: 16px;
}

.social {
  padding: 10px 2px;
  font-size: 16px;
}

.social li {
  display: inline-block;
  padding: 5px;
}

.social li a {
  transition: ease-in-out 0.5s;
}

.social-icons-fa-github a:hover,
.social-icons-twitter a:hover,
.social-icons-glone a:hover,
.social-icons-linkedin a:hover,
.social-icons-stack-overflow a:hover {
  color: rgba(29, 39, 126, 1);
}

footer {
  text-align: center;
  background-color: #1b0141;
  background-size: cover;
  color: #ece0ff;
  padding: 20px 0;
}

footer p {
  padding: 3px;
}

@media (max-width: 992px) {
  .wrapper {
    width: 90%;
  }

  header ul {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    transition: 0.5s;
    background: #1b0141;
    flex-direction: column;
    transform: translateY(-100%);
    z-index: 999;
    overflow: hidden;
  }

  header ul li {
    margin-bottom: 20px;
  }

  header ul li a {
    margin: 0;
    font-size: 13px;
  }

  header.active ul {
    opacity: 1;
    top: 0;
    transform: translateY(0);
  }

  .toggle {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 9999;
  }

  .toggle:before {
    content: "";
    position: absolute;
    top: 1px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggle:after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }

  header.active .toggle:before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  header.active .toggle:after {
    top: 14px;
    transform: rotate(-45deg);
    box-shadow: 0 0 0 #fff;
  }

  .hero {
    color: #ece0ff;
    padding-top: 130px;
    padding-left: 50%;
  }

  .hero h1 {
    font-size: 35px;
  }

  .music-spt iframe {
    width: 320px;
    height: 80px;
  }

  .galery-flex .item {
    height: 200px;
    width: 200px;
  }

  .flex-about {
    flex-direction: column-reverse;
  }

  #about .flex-about .desc {
    width: 100%;
  }

  #about .flex-about .desc-img {
    width: 100%;
    margin: 10px 0 20px 0;
  }

  #about .flex-about .desc-img .profil-img {
    text-align: center;
    align-self: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .hero {
    color: #ece0ff;
    padding-top: 150px;
    padding-left: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 30px;
  }

  #music {
    width: 100%;
  }

  .music-spt iframe {
    width: 370px;
    height: 80px;
  }
  #album {
    width: 100%;
  }

  #contact {
    width: 100%;
  }

  #profile {
    width: 100%;
  }

  .social li {
    padding: 2px;
  }
}

@media (max-width: 543px) {
  .galery-flex .item {
    height: 180px;
    width: 180px;
  }
  .quote {
    margin: 0 30px;
  }

  .quote-by {
    padding-right: 30px;
  }

  .social li {
    padding: 10px;
  }

  footer {
    font-size: 14px;
  }
}
